# YOLOv8 model weights
*.pt
*.pkl
*.pyc
*.npz
*.npy
*.avi
*.png
*.job
*.txt

data/keypoints/
data/__pycache__/
pose_lifter/animate.py
yolo_bad_frames.txt
.cache
saves/
temp/
renders/
data/mmpose_models/
mmpose_output/

pose_lifter/J_regressor_coco.npy
_debug.py
_debug_mmpose.py