# --- Python ---
.cache/
__pycache__/

# --- Data & Body models ---
/data/keypoints/
/data/support_data/
/data/J_regressor_coco.npy
/data/AMASS

# --- Dependencies & Libs ---
human_body_prior/
psbody/
body_visualizer/

# --- Outputs & Temp ---
/renders/
/temp/